import { Box } from '../Box';
import * as S from './styles';

export type {{pascalCase name}}Props = {
  className?: string;
}

export const {{pascalCase name}} = ({ className, ...props }: {{pascalCase name}}Props): JSX.Element => (
  <Box className={S.container({ className })} {...props}>
    <h1>{{pascalCase name}}</h1>
  </Box>
);

{{pascalCase name}}.displayName = '{{pascalCase name}}';